@media screen and (max-width:920px) {

    nav {
        justify-content: space-between;
        padding: 0 12px;
    }

    .nav-menu {
        position: fixed;
        font-size: 25px;
        text-align: center;
        width: 100%;
        flex-direction: column;
        top: 80px;
        right: -100%;
        background: rgba(53, 53, 139, 0.930) linear-gradient(150deg, black, transparent);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        z-index: 104;
        transition: 0.3s;
    }

    .nav-link {
        padding: 8px 0;
    }

    .nav-link:hover {
        background: rgb(110, 110, 241) linear-gradient(170deg, rgb(18, 18, 62), transparent);
        text-decoration: none;
        color: white;
    }

    .nav-menu.active {
        right: 0;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /*.hamburger-menu {
        display: flex;
        position: fixed;
        top: 28px;
        right: 20px;
        cursor: pointer;
        z-index: 105;
    }

    .hamburger-menu:hover {
        filter: drop-shadow(0 0 5px rgb(110, 110, 241));
    }

    .sidebar div {
        height: auto;
        width: 300px;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 80px;
        right: 0;
        background: rgba(53, 53, 139, 0.930) linear-gradient(150deg, black, transparent);
        backdrop-filter: blur(10px);
        transition: top ease-in-out 1s;
        z-index: 104;
    }

    .ham-links {
        padding: 10px 5px;
    }

    .ham-links:hover {
        background: rgb(110, 110, 241) linear-gradient(170deg, rgb(18, 18, 62), transparent);
    } */

    .firstSection {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
    }

    .firstSection>div {
        width: auto;
    }

    .leftSection {
        font-size: 35px;
    }

    .rightSection img {
        margin-left: 40px;
        margin-top: 60px;
    }

    .about-me {
        justify-content: space-evenly;
        height: 800px;
    }

    .about-text {
        font-size: 22px;
    }

    .myeducation {
        justify-content: space-evenly;
    }


    .myskills {
        height: 600px;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }

    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 75px;
    }

    .skills img {
        width: 90px;
    }

    .myprojects {
        height: 1000px;
        padding-top: 60px;
    }

    .projects-block {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }

    .project-tile {
        width: 360px;
        /* border: 2px solid rgb(119, 119, 236); */
        border-radius: 15px;
    }

    .project-tile img {
        width: 360px;
    }

    .project-tile:hover {
        transform: scale(1.1);
    }
}